<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"/>
        <td th:text="${user.name}"/>
        <td th:text="${user.lastname}"/>
        <td th:text="${user.age}"/>
        <td>
            <form th:method="GET" th:action="@{/users/updateUser(id=${user.id})}">
                <input type="submit" value="Update"/>
            </form>
            <form th:method="POST" th:action="@{/users/deleteUser(id=${user.id})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/users/addNewUser}">Add User</a>
</body>
</html>
